<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="FilePath" value="C:\Dev\Akka\numbers.csv"/>
    <add key="EvenFilePath" value="C:\Dev\Akka\EvenNumbers.csv"/>
    <add key="OddFilePath" value="C:\Dev\Akka\OddNumbers.csv"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>